.containercontainer {
  text-align: center;
  max-width: 1000px;
  margin: auto;
}

h2 {
  font-family: 'Roboto_slabbold', sans-serif;
  font-size: 24px;
  padding-bottom: 5px;
  color: rgb(21, 156, 154);
}

h3 {
  font-family: 'Roboto_slabbold', sans-serif;
}

p {
  margin-top: 10px;
}

body {
  text-align: center;
  background-color: #FEFDFB;
  font-family: 'Roboto', serif;
}

.container{
      width: 200px;
      height: 300px;
      display: inline-block;
      text-align: center;
      margin: 10px;
    }

.rorikotch {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    border: 1px solid grey;
    margin-bottom: 10px;
 }


   img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }

.rorikotch:hover .image-one {
  display: none;
}

.rorikotch:hover .hover-image {
  display: inline;
}

.hover-image {
  display: none;
}

.body-about {
  text-align: center;
}


header nav.top-navigation ul li {
  float: left;
  padding: 20px;
}

nav#stories-navigation {
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  position: absolute;
  top: 50px;
  background: -webkit-linear-gradient(rgba(25, 25, 25, 0.5),  rgba(25, 25, 25, 0) ); /* For Safari 5.1 to 6.0 */
  background: -moz-linear-gradient(rgba(25, 25, 25, 0.5), rgba(25, 25, 25, 0) ); /* For Firefox 3.6 to 15 */
  background: linear-gradient( rgba(25, 25, 25, 0.5), rgba(25, 25, 25, 0) ); /* Standard syntax */
  background-color: rgba(25, 25, 25, 0);
}

nav#stories-navigation li {
  display: inline-block;
  padding: 60px;
  padding-top: 35px;
  color: white;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 0.2em;
  font-family: 'Roboto Light', sans-serif;
}

nav#stories-navigation.subpage {
  position: relative;
  top: 0;
  background-color: #222;
  margin-bottom: 40px; 
}

nav#stories-navigation li a {
   position: relative;
   color: #fff;
  text-decoration: none;
}

nav#stories-navigation li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

nav#stories-navigation li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

div.logo {
  position: absolute;
  top: 35px;
  left: 20px;
  font-size: 2em;
  color: black;
}
