.containercontainer {
  text-align: center;
  max-width: 1000px;
  margin: auto;
}

h2 {
  font-family: sans-serif;
}

body {
  text-align: center;
  background-color: #FEFDFB;
}

.container{
      width: 200px;
      height: 300px;
      display: inline-block;
      text-align: center;
      margin: 10px;
    }

.rorikotch {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    border: 1px solid grey;
 }


   img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }

.rorikotch:hover .image-one {
  display: none;
}

.rorikotch:hover .hover-image {
  display: inline;
}

.hover-image {
  display: none;
}

.body-about {
  text-align: center;
}

/*header nav.top-navigation ul li {
  float: left;
  padding: 20px;
}*/
