/* Stylesheet for Endangered Florida multimedia website
   Importing Fonts */

/* ROBOTO (font-style: normal) */

/* Bold */

@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/roboto/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/roboto/Roboto-Bold-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Medium */

@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/roboto/Roboto-Medium-webfont.woff') format('woff'),
         url('../fonts/roboto/Roboto-Medium-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Regular */

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Regular-webfont.woff') format('woff'),
       url('../fonts/roboto/Roboto-Regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Light */

@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/roboto/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/roboto/Roboto-Light-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


/* ROBOTO (font-style: italic) */

/* ThinItalic */

@font-face {
    font-family: 'Roboto ThinItalic';
    src: url('../fonts/roboto/Roboto-ThinItalic-webfont.woff') format('woff'),
         url('../fonts/roboto/Roboto-ThinItalic-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* LightItalic */

@font-face {
    font-family: 'Roboto LightItalic';
    src: url('../fonts/roboto/Roboto-LightItalic-webfont.woff') format('woff'),
         url('../fonts/roboto/Roboto-LightItalic-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* ROBOTO SLAB */


/* Bold */

@font-face {
  font-family: 'roboto_slabbold';
  src: url('../fonts/robotoslab/RobotoSlab-Bold-webfont.woff') format('woff'),
       url('../fonts/robotoslab/RobotoSlab-Bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* Regular */

@font-face {
  font-family: 'roboto_slabregular';
  src: url('../fonts/robotoslab/RobotoSlab-Regular-webfont.woff') format('woff'),
       url('../fonts/robotoslab/RobotoSlab-Regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
