/* Stylesheet for Endangered Florida multimedia website
   Importing Fonts
*/

/* Roboto (font-style: normal) */

/* Bold */

@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/Roboto/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/Roboto/Roboto-Bold-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Medium */

@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/Roboto/Roboto-Medium-webfont.woff') format('woff'),
         url('../fonts/Roboto/Roboto-Medium-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Regular */

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular-webfont.woff') format('woff'),
       url('../fonts/Roboto/Roboto-Regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Light */

@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/Roboto/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/Roboto/Roboto-Light-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


/* Roboto (font-style: italic) */

/* ThinItalic */

@font-face {
    font-family: 'Roboto ThinItalic';
    src: url('../fonts/Roboto/Roboto-ThinItalic-webfont.woff') format('woff'),
         url('../fonts/Roboto/Roboto-ThinItalic-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* LightItalic */

@font-face {
    font-family: 'Roboto LightItalic';
    src: url('../fonts/Roboto/Roboto-LightItalic-webfont.woff') format('woff'),
         url('../fonts/Roboto/Roboto-LightItalic-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Roboto SLAB */


/* Bold */

@font-face {
  font-family: 'Roboto_slabbold';
  src: url('../fonts/Roboto_Slab/RobotoSlab-Bold-webfont.woff') format('woff'),
       url('../fonts/Roboto_Slab/RobotoSlab-Bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* Regular */

@font-face {
  font-family: 'Roboto_slabregular';
  src: url('../fonts/Roboto_Slab/RobotoSlab-Regular-webfont.woff') format('woff'),
       url('../fonts/Roboto_Slab/RobotoSlab-Regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
