/* Stylesheet for Endangered Florida multimedia website
   Base styles */

/*****************************************************************
  Colors and Fonts
*****************************************************************/

/* Sky Blue: rgb(0, 189, 231)
   Aqua: rgb(0, 216, 212)
   Dark Teal: rgb(0, 139, 160)
   Bright Green: rgb(0, 214, 178)
   Darker Green: rgb(1, 175, 163)
   Midnight Indigo: rgb(11, 23, 77)
   Dark Blue: rgb(11, 80, 133)
   Dark Aqua: rgb(21, 156, 154)
   Orange: rgb(207, 118, 52)
   Burnt Orange: rgb(141, 66, 39)
   Light grey: rgb(243, 243, 243) */

/* Title Font: 'Roboto_slabbold'
   Body Font: 'Roboto' */

/****************************************************************/


/*****************************************************************
  Overall Styles
*****************************************************************/
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em; /* Makes all text double spaced */
}

h1, h2, h3 {
  font-family: 'Roboto_slabbold', sans-serif;
}

.button {

}

a {

}

img {
  max-width: 100%;
}

p.testing {
  font-family: 'Roboto_slabbold', sans-serif;
  padding: 20px;
  font-size: 2em;
}

footer {
  height: 160px;
  background-color: #191919;
  padding: 20px;
  position: absolute;
  bottom: -80px;
  width: calc(100% - 40px);
  color: white;
}

img.footer {
  width: 200px;
}

section#squareFlorida {
  width: 90%;
  clear: both;
  display: block;
  height: auto;
  margin-right: 0;
  padding: 0;
}

header nav.top-navigation ul li {
  float: left;
  padding: 20px;
}

#overlay{
  position:fixed;
  z-index:99999;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:rgba(0,0,0,0.9);
  transition: 1s 0.4s;
}
#progress{
  height:1px;
  background:#fff;
  position:absolute;
  width:0;                /* will be increased by JS */
  top:50%;
}
#progstat{
  font-size:0.7em;
  letter-spacing: 3px;
  position:absolute;
  top:50%;
  margin-top:-40px;
  width:100%;
  text-align:center;
  color:#fff;
}

/****************************************************************/


/*****************************************************************
  Homepage Background Styles
*****************************************************************/

#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 900px;
  z-index: -100;
  background:url("../media/horizon.jpg") right bottom no-repeat #DFD2C1;
  color: white;
  background-color: black;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  background-size: 100%;
  background-position: center;
}

#background:hover {
  background-size: 102%;
}

.tiles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 900px;
    z-index: -100;
  }

  .tile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 900px;
    overflow: hidden;
    background-color: grey;
    z-index: -1;
  }

  .photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform .5s ease-out;
  }

div.videowrapper {
  margin: 0;
  width: 100%;
  height: 100vh;
  max-height: 900px;
}

#video-bg {
  position: fixed;
  right: 0;
  top: 0;
  width: auto;
  min-width: 100%;
  z-index: -10;
  height: auto;
  background: transparent url(4.jpg) no-repeat;
  background-size: cover;
}
/*****************************************************************/


/*****************************************************************
  Navigation Styles
*****************************************************************/
nav.top-navigation ul li#about{
  position: absolute;
  top: 50px;
  color: white;
}

nav.stories-navigation {
  width: 600px;
  margin: auto;
  text-align: center;
}

nav.stories-navigation li {
  display: inline-block;
  padding: 20px;
  padding-top: 35px;
  color: white;
}

div#logo {
  position: absolute;
  top: 35px;
  left: 20px;
  font-size: 2em;
  color: white;
}

div#read-more {
  margin: auto;
  margin-top: 20%;
  height: 60px;
  width: 160px;
  border-radius: 5px;
  border: solid white 0.5px;
  text-align: center;
  line-height: 60px;
  color: white;
  background-color: transparent;
}

div#read-more:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
/*****************************************************************/
