/* Stylesheet for Endangered Florida multimedia website
   Base styles */

/*****************************************************************
  Colors and Fonts
*****************************************************************/

/* Sky Blue: rgb(0, 189, 231)
   Aqua: rgb(0, 216, 212)
   Dark Teal: rgb(0, 139, 160)
   Bright Green: rgb(0, 214, 178)
   Darker Green: rgb(1, 175, 163)
   Midnight Indigo: rgb(11, 23, 77)
   Dark Blue: rgb(11, 80, 133)
   Dark Aqua: rgb(21, 156, 154)
   Orange: rgb(207, 118, 52)
   Burnt Orange: rgb(141, 66, 39)
   Light grey: rgb(243, 243, 243) */

/* Title Font: 'Roboto_slabbold'
   Body Font: 'Roboto' */

/****************************************************************/


/*****************************************************************
  Overall Styles
*****************************************************************/
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em; /* Makes all text double spaced */
}

h1, h2, h3 {
  font-family: 'Roboto_slabbold', sans-serif;
}

.button {

}

a {

}

img {
  max-width: 100%;
}

p.testing {
  font-family: 'Roboto_slabbold', sans-serif;
  padding: 20px;
  font-size: 2em;
}

footer {
  height: 200px;
  background-color: rgb(0, 139, 160);
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: calc(100% - 40px);
}

img.footer {
  width: 200px;
}

section#squareFlorida {
  width: 90%;
  clear: both;
  display: block;
  height: auto;
  margin-right: 0;
  padding: 0;
}

header nav.top-navigation ul li {
  float: left;
  padding: 20px;
}
/****************************************************************/


/*****************************************************************
  Background Video Styles
*****************************************************************/

div.videowrapper {
  margin: 0;
  width: 100%;
  height: 100vh;
  max-height: 800px;
  background-color: rgba(67, 66, 68, 0.8);
}

#video-bg {
  position: fixed;
  right: 0;
  top: 0;
  width: auto;
  min-width: 100%;
  z-index: -10;
  height: auto;
  background: transparent url(4.jpg) no-repeat;
  background-size: cover;
}
/*****************************************************************/


/*****************************************************************
  Navigation Styles
*****************************************************************/
nav.stories-navigation {
  width: 600px;
  margin: auto;
  text-align: center;
}

nav.stories-navigation li {
  display: inline-block;
  padding: 20px;
}
/*****************************************************************/
